<!doctype html>
<html>
<#include "/fragment/header.html" />

<#include import('banner')/>
<div id="app">
    <div class="index_title">
        <div class="index_titlet"><span>测试类别</span>&nbsp;&nbsp;Test category</div>
        <div class="index_titleb">自我测试，全面认清自己</div>
    </div>
    <div class="index_list">
        <div class="index_listi" v-for="(item,index) in categoryList">
            <div class="index_listip"><a :href="item.url+'?categoryId='+item.id"><img :src=item.cover!=null?item.cover.length?item.cover[0].url:'':'' /></a></div>
            <div class="index_listit"><a :href="item.url+'?categoryId='+item.id">{{item.name}}</a></div>
            <div class="index_listii">{{item.englishTitle}}</div>
        </div>
        <div class="div_clear"></div>
    </div>
    <div class="index_more"><a href="/testing">更多测试</a></div>
    <div class="index_morebtn"><a href="/testing"><img src="/static/images/more_icon.png"/></a></div>
    <div class="index_line"></div>
    <div class="index_title">
        <div class="index_titlet"><span>行业资讯</span>&nbsp;&nbsp;Industry information</div>
        <div class="index_titleb">他山之石，可以攻玉</div>
    </div>
    <@cdata code='news'>
       <div class="index_list2">
        <#list contents as content>
        <div class="index_list2i">
            <div class="index_list2it"><a href="${content.url!}">${sub((content.title)!,25,'..')}</a></div>
            <div class="index_list2ip"><a href="${content.url!}"><img <#if content.cover??>src="${content.cover.url!}"</#if> /></a></div>
            <div class="index_list2itxt">
                <div class="index_list2ii">
                    ${sub(content.description!,158,'…')}
                </div>
                <div class="index_list2ib"><span><img src="/static/images/listicon10.png"/>${(publishDate?string('YYYY-MM-dd'))!'${.now?string("YYYY-MM-dd")}'}</span>
<!--                    <span><img src="/static/images/listicon11.png"/>1926</span>-->
                </div>
            </div>
        </div>
       </#list>
    </div>
    <div class="index_more"><a href="/news.html">更多资讯</a></div>
    <div class="index_morebtn"><a href="/news"><img src="/static/images/more_icon.png"/></a></div>
    </@cdata>
    <div class="index_line"></div>
    <#include import('hotline') />
    <#include '/fragment/footer_button.html'/>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            categoryList: []
        },
        mounted() {
            axios.get('http://localhost:7777/evaluate/category/outer/getCategoryList')
                .then(response => {
                    this.categoryList = response.data.rows
                    this.categoryList.forEach(function (row, index) {
                        if (row.cover) {
                            row.cover = JSON.parse(row.cover)
                        }
                    })
                    console.log(this.categoryList)
                })
        }
    })
</script>
<#include '/fragment/javaScript.html'/>
</body>
</html>
