<!DOCTYPE html>
<html>
  <#include '/fragment/header.html'/>

<div class="page_title"> 测试列表</div>
<div class="page_list">
    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;心理测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;智商测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;人格分类测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;内向程度测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;情商测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;社交焦虑测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;抗挫折测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;自律测试<img src="images/view_icon.png"/></a></div>

    <div class="page_listi"><a href="ceshi_view.html">○&nbsp;&nbsp;恐惧情绪测试<img src="images/view_icon.png"/></a></div>
</div>
<div class="page_pagenav">
    <a href="#">&lt;&lt;</a><a href="#">&lt;</a><a href="#">1</a><a href="#" id="page_pagenavon">2</a><a
        href="#">...</a><a href="#">7</a><a href="#">&gt;</a><a href="#">&gt;&gt;</a>
</div>
<div class="index_line"></div>
<#include import('hotline')/>
<#include '/fragment/footer_button.html'/>
<#include '/fragment/javaScript.html'/>

</body>
</html>
