<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/tinymce/skins/content/default/content.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tinymce/skins/ui/oxide/content.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tinymce/skins/ui/oxide-dark/content.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>夏之阳</title>
</head>
<body>
<div class="index_topspace">0000000000000</div>
<div class="top_nav">
    <div class="top_navc">
        <div class="top_tell"><a href="tel:0731 8080 6060"><img src="/static/images/top_tell.png"/></a></div>
        <div class="top_logo"><a href="/"><img src="/static/images/top_logo.png"/></a></div>
        <div class="drop-down"><img src="/static/images/top_menu.png"/></div>
    </div>
</div>