 <script>
        $(document).ready(function () {
            $(".drop-down").click(function () {
                var div = $('#antzone');
                if (div.is(':hidden')) {
                    div.slideDown();
                } else {
                    div.slideUp();
                }
            });

            $(".close_btn").click(function () {
                var div = $('#antzone');
                if (div.is(':hidden')) {
                    div.slideDown();
                } else {
                    div.slideUp();
                }
            });
        })
    </script>