<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/static/js/dateFormat.js"></script>
    <title>夏之阳</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".drop-down").click(function () {
                var div = $('#antzone');
                if (div.is(':hidden')) {
                    div.slideDown();
                } else {
                    div.slideUp();
                }
            });

            $(".close_btn").click(function () {
                var div = $('#antzone');
                if (div.is(':hidden')) {
                    div.slideDown();
                } else {
                    div.slideUp();
                }
            });
        })
    </script>
</head>
<body>
<div id="app">
    <div class="index_topspace"></div>
    <div class="top_nav">
        <div class="top_navc">
            <div class="top_tell"><a href="tel:0731 8080 6060"><img src="/static/images/top_tell.png"/></a></div>
            <div class="top_logo"><a href="/"><img src="/static/images/top_logo.png"/></a></div>
            <div class="drop-down"><img src="/static/images/top_menu.png"/></div>
        </div>
    </div>
    <div class="page_title"> {{categoryInfo.name}}</div>
    <div> {{categoryInfo.description}}</div>
    <div class="page_listt"><span>条目:<span style="color:red">{{questionIndex + 1}}</span>/{{questions.length}} 开始时间：{{startTimeStr}} 用时:{{timeCost}}</span>
    </div>
    <div class="page_listt">{{question.subject}}
    </div>
    <div class="page_lista">
        <label v-for="(item,index) in question.select" @click="doOption(index,item.minute)">
            <input name="Fruit" type="radio">{{ item.value}}</input>
        </label>
    </div>
    <div class="page_listb" v-if="questions.length!=questionIndex+1" @click="nextQuestion()"><a href="#">下一题</a></div>
    <div class="page_listb" v-if="questions.length===questionIndex+1" @click="submitAnswer()"><a href="#">提交</a></div>


    <div class="index_line"></div>
    <div class="index_list3">
        <div class="index_bottel"> 咨询热线<br>
            <span><a href="tel:0731 8080 6060">0731 8080 6060</a></span></div>
        <div class="index_botcode">
            <img src="http://localhost:7777/profile/upload/2021/03/05/b2c1a8e6-cf0e-420e-945a-f2bd5a701db3.png"
                 title="二维码01"/>
        </div>
        <div class="index_botcopy">Copyright © 2021夏之阳网络科技 版权所有<br>
            湘ICP备123456789号
        </div>
        <div class="index_botspace"></div>
    </div>
    <div class="index_botnav">
        <div class="index_botnavi">
            <div class="index_botnavic">
                <div class="index_botnav01"><a href="/" id="index_botnav01on">首页</a></div>
            </div>
        </div>
        <div class="index_botnavi">
            <div class="index_botnavic">
                <div class="index_botnav02"><a href="ceshi.html">测试</a></div>
            </div>
        </div>
        <div class="index_botnavi">
            <div class="index_botnavic">
                <div class="index_botnav03"><a href="news.html">资讯</a></div>
            </div>
        </div>
        <div class="index_botnavi">
            <div class="index_botnavic">
                <div class="index_botnav04"><a href="about.html">关于</a></div>
            </div>
        </div>
    </div>

    <div style="display:none" id="antzone">
        <div class="dg_navwap">
            <div class="dg_nav_itemwap">
                <a href=/>首页</a>
            </div>
            <div class="dg_nav_itemwap">
                <a href=/about/index.html>关于</a>
            </div>
            <div class="dg_nav_itemwap">
                <a href=/testing/index.html>测试</a>
            </div>
            <div class="dg_nav_itemwap">
                <a href=/news/index.html>资讯</a>
            </div>
        </div>
        <div class="close_btn"><img src="/static/images/nav_close.png"/></div>
    </div>
    <div class="dialog" v-if="dialog">

        <form>
            <div class="alert alert-warning" role="alert">.请输入信息再继续.</div>
            <div>
                <input v-model="form.nickname" type="text" class="form-control" placeholder="请输入昵称">
            </div>
            <div>
                <input v-model="form.age" type="text" class="form-control" placeholder="请输入年龄"/>
            </div>
            <div>
                <select  v-model="form.sex" class="form-control" placeholder="请选择性别">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div>
                <input v-model="form.height" type="text" class="form-control" placeholder="请输入体重"/>
            </div>

            <div class="footer">
                <button type="button" class="btn btn-primary btn-lg btn-block" @click="submit">提交并开始测试</button>
            </div>
        </form>
    </div>
    <div class="popup" v-if="pay">
        <p>优惠金额：<span style="color: red">9.9</span></p>
        <div class="wxPay">
            <!--            <img src="https://ae01.alicdn.com/kf/H484b5441fbd34ad2bee3c651bb1854e1K.jpg">-->
            <div @click="wxPay">
                微信支付
            </div>
        </div>
        <div>支付成功后，会自动返回当前浏览器查看结果！</div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            questionIndex: 0,
            question: {},
            questions: [],
            state: '',
            minute: 0,
            timeCost: 0,
            startTime: null,
            categoryId: null,
            dialog: false,
            pay: false,
            form: {
                nickname: null,
                age: null,
                sex: null,
                height: null,
                customerId: null
            },
            categoryInfo: {},
            interval:null
        },
        computed: {
            startTimeStr() {
                return new Date().format("yyyy-MM-dd hh:mm:ss");
            }
        },
        mounted() {
            var categoryId = this.getQueryVariable("categoryId");
            this.categoryId = categoryId
            axios.get('https://mana.cn.utools.club/evaluate/category/outer/' + categoryId)
                .then(response => {
                    console.log(response)
                    this.categoryInfo = response.data.data
                })
            this.dialog = true
            this.form.customerId = Math.ceil(Math.random() * 10000) + new Date().getTime();
            this.start();
        },
        methods: {
            ageValidate(rule, value, callback) {
                let reg=/^(?:[1-9][0-9]?|1[01][0-9]|120)$/;//年龄是1-120之间有效
                return  reg.test(value);
            },
            Validate(rule, value, callback) {
                let reg=/^\d{1,3}$/;//是否是数字
                return  reg.test(value);
            },
            getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) {
                        return decodeURI(pair[1]);
                    }
                }
                return (false);
            },
            init() {
                axios.get('https://mana.cn.utools.club/evaluate/subject/outer/getSubjectByCategoryId/' + this.categoryId)
                    .then(response => {
                        this.questions = response.data.data
                        this.question = this.questions[this.questionIndex]
                    })
            },
            start() {
                this.startTime = new Date()
                this.timer = setInterval(this.updateTime, 60 * 1000)
            },
            updateTime() {
                let time = (new Date().getTime() - this.startTime.getTime()) / 1000 / 60
                this.timeCost = parseInt(time)
            },
            nextQuestion() {
                this.questionIndex++
                this.question = this.questions[this.questionIndex]
                $('input[type=radio][name="Fruit"]:checked').prop("checked", false);
            },
            doOption(index, minute) {
                this.questions[this.questionIndex].userSelect = minute
            },
            submitAnswer() {
                let minute = 0;
                this.questions.forEach(function (row, index) {
                    minute += row.userSelect;
                })
                this.form.minute = minute
                this.form.evalCategoryId = this.categoryId
                this.pay = true;
            },
            submit() {
                if (this.form.nickname === null) {
                    alert("请输入昵称")
                    return
                }
                if (this.form.age === null) {
                    alert("请输入年龄")
                    return
                }else if (!this.ageValidate(null,this.form.age)){
                    alert("请输入合法年龄")
                    return
                }
                if (this.form.sex === null) {
                    alert("请输入性别")
                    return
                }
                if (this.form.height === null) {
                    alert("请输入体重")
                    return
                }else if (!this.Validate(null,this.form.height)){
                    alert("请输入合法体重")
                    return
                }
                this.dialog = false
                this.init();
            },
            cancel() {
                this.dialog = false;
                this.form = {}
                console.log(this.form)
            },
            /*微信支付*/
            wxPay() {
                axios.post('https://mana.cn.utools.club/weChat/pay/h5/', this.form)
                    .then(response => {
                        this.form.orderNum = response.data.data.orderNum
                        console.log( response.data.data.orderNum)
                        window.location.href = response.data.data.mweb_url
                        this.interval=setInterval(this.queryOrder, 3000);
                    })
            },
            /**查询订单是否支付*/
            queryOrder() {
                clearInterval(this.interval);
                axios.post('https://mana.cn.utools.club/weChat/pay/queryOrder/', this.form)
                    .then(response => {
                        console.log(response)
                        if (response.data.code===200){
                        // window.location.href="https://www.baidu.com"
                            window.location.href = "https://milelu.test.utools.club/testing/result.html" +
                                "?categoryId="+this.form.evalCategoryId+"&minute="+this.form.minute+"&orderNum="+this.form.orderNum
                        }
                    })
            }
        }
    })
</script>
<style>
    .dialog {
        background-color: #fff;
        width: 370px;
        border-radius: 5px;
        z-index: 1; /*优先*/
        text-align: center;
        /* 实现对浏览器窗口的垂直居中 */
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 40%;
        padding: 50px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    }

    /* 弹出框的提示文字部分 */
    .header {
        height: 70%;
        line-height: 60px;
        margin: 0 auto;
    }

    /* 弹出框的两个按钮部分 */
    .footer {
        height: 30%;
        display: flex;
        flex-direction: row;
    }

    .popup {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 370px;
        padding: 50px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
        background: #fff;
    }

    .popup .wxPay {
        height: 60px;
        border-color: #09BB07;
        background-color: #09BB07;
        border-radius: 3px;
        text-align: center;
    }

    .wxPay div {
        font-size: 40px;
        color: #f0f0f0;
        /*background-image: url("https://lh3.googleusercontent.com/proxy/khPmj4f76d_3TXRiW_DmGp3sW0TkVtcNlzq_oZXjfWp6Gx3_rbaZSs-j_22BgNVEw1ktjSNWzpcWS3k-K18FF90LVJlIXOCdizSAcyjE5WeM4Sk6iFwL3HGRxxKSBm6pxboMWSJ669TE");*/
    }

</style>
</html>
